



    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Epoca Watches</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Collection</a>
                    </li>
                    
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Contact</a>
                    </li>
                    <li>
                    		<%= link_to 'Intaliano', it_path, method: :get%>
                    		
                    </li>
                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Welcome To EpocaWatches.com</div>
                <a href="#services" class="page-scroll btn btn-xl">Our store</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our collection</h2>
                    <h3 class="section-subheading text-muted">Check out more <a href="">here</a></h3>
                </div>
            </div>
            <div class="photo-gal">
  <div class="fotorama" 
    data-width="40%"
    data-fit="contain"
    data-hash="true"
    data-loop="true"
    data-keyboard="true"
    data-transition="crossfade"
    data-allowfullscreen="true"
    data-nav="thumbs" data-thumbwidth = "85" 
    data-thumbheight = "64">
    <% @documents.each do |u| %>
  		
      <img src="<%= u.file.url %>">
     
    <% end %>
  	 <img src="<%=asset_path("3.jpg")%>" >
      <img src="<%=asset_path("4.jpg")%>" >
      <img src="<%=asset_path("5.jpg")%>" >
  
  </div>
</div>
           
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img img-responsive" src="<%=asset_path("omegagold.jpg")%>" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>I</h4>
                                    
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">If you're looking for that first vintage watch or just adding to your collection of watches &ndash; EPOCA WATCHES will have that special "Piece of Time".</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img img-responsive" src="<%=asset_path("omegasuveran.jpg")%>" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>II</h4>
                                    
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> We specialise in Vintage Rolex watches from 1940's through to 1980's and we keep the prices competitive. We also have collectors' pieces of other brands such as Patek Philippe, AP, Cartier, Omega, etc.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img img-responsive" src="<%=asset_path("rolextudorpink.jpg")%>" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>III</h4>
                                    
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Every timepiece is fully restored by a certified watchmaker, with original watch parts, and comes with a one year guarantee.</p>
                                </div>
                            </div>
                        </li>
                        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Get <br>them
                                   
                                    <br>Right now!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact us</h2>
                    <h3 class="section-subheading text-muted"> </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Via Facebook</h4>
                    <p class="text-muted">Some link</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-at fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Via e-mail</h4>
                    <p class="text-muted">contact@epocawatches.com</p>
                </div>
                
            </div>
        </div>
    </section>

   
    
    

    <footer>
    <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                   
                </div>
                <div class="col-md-4">
                                        <span class="copyright">&copy; Epoca Watches 2016</span>
                </div>
                <div class="col-md-4">
                    
                </div>
            </div>
        </div>
    </footer>

    


    <!-- Plugin JavaScript 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="assets/classie.js"></script>
    <script src="assets/cbpAnimatedHeader.js"></script>

   <script src="assets/agency.js"></script>-->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<%= javascript_include_tag "classie" %>
<%= javascript_include_tag "cbpAnimatedHeader" %>
<%= javascript_include_tag "agency" %>
